.accordion {
  box-shadow: 0 0 12px rgba(#000000, .5);
  .accordion-item {
    transition: background-color .2s ease-in-out;

    background: #292929;
    font-family: 'LatoLight', san-serif, serif;
    cursor: pointer;
    color: #F0F0F0;

    &:hover {
      background-color: #161616;
    }

    &.active {
      background-color: #161616;
    }

    &:last-child {
      border-bottom: 1px solid #494949;
    }

    .accordion-title {
      user-select: none;
      padding: 2rem;
      position: relative;
      display: block;
      border: 1px solid #494949;
      border-bottom: 0;
      text-transform: uppercase;
      font-size: 14px;

      @include breakpoint(small down) {
        padding: 2rem 1rem;
      }
    }

    .accordion-content {
      border-left: 1px solid #494949;
      border-right: 1px solid #494949;
      padding: 0 2rem;
      background: #222222;
      max-height: 0;
      overflow: hidden;
      transition: max-height .3s;
      font-size: 18px;

      @include breakpoint(small down) {
        padding: 0 1rem;
      }

      .accordion-content-inner {
        margin: 20px 0;

        @include breakpoint(small down) {
          margin: 15px 0;
        }

        .instruction {
          display: flex;
          flex-direction: column;

          .accordion-link {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }

  .active {
    .accordion-content {
      max-height: 800px;
    }
  }
}
