.banner-content {
  z-index: 10;
  position: relative;
  background-image: url('../../static/img/banner_home.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint(small down) {
    height: 100vh;
    max-height: 100vh;
  }

  @include breakpoint(medium up) {
    min-height: 700px;
  }

  &:before {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #292929;
    top: 0;
    left: 0;
    content: '';
    opacity: .6;
  }

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(rgba(#000000, 0), #161616);
    content: '';
  }

  .banner-title-content {
    z-index: 999999999;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    @include breakpoint(small down) {
      margin-bottom: 10px;
    }

    .banner-title {
      font-family: 'LatoRegular', serif;
      letter-spacing: 10px;
      text-transform: uppercase;
      color: #F0F0F0F0;
      font-size: 36px;
      margin: 0 auto 20px;

      @include breakpoint(small down) {
        font-size: 24px;
      }
    }

    .banner-subtitle {
      margin: 0 auto;
      width: 90%;
    }
  }
}

.banner-content-shop {

  @include breakpoint(small down) {
    max-height: 200px;
  }

  @include breakpoint(medium up) {
    min-height: 400px;
  }

  .banner-subtitle-shop {
    padding-top: 90px;
  }
}
