/* BUGER BUTTON */
.nav-toggle {
  z-index: 2000;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 45px;
  position: fixed;
  transform: rotate(0deg) scale(0.7);
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;

  span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #F0F0F0;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
      transform-origin: left center;
    }

    &:nth-child(2) {
      top: 18px;
      transform-origin: left center;
    }

    &:nth-child(3) {
      top: 36px;
      transform-origin: left center;
    }
  }

  &.activated span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
  }

  &.activated span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  &.activated span:nth-child(3) {
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
  }

  @include breakpoint(small down) {
    display: block;
  }
}
