.card-status-container {
  .card-status-block {
    display: flex;
    padding: 30px;

    @include breakpoint(small down) {
      flex-direction: column;
      padding: 15px;
    }

    .card-status-item {

      @include breakpoint(small down) {
        margin: 10px 0;
      }

      overflow: hidden;
      box-shadow: 5px 5px 12px rgba(#000000, .3);
      position: relative;
      color: #F0F0F0;
      font-family: "LatoLight", san-serif, serif;
      border-radius: 3px;
      text-transform: uppercase;
      background: #292929;
      background: linear-gradient(90deg, #292929 0%, rgba(32,32,32,.5) 70%, rgba(0,0,0,.3) 100%);
      //background: #292929;
      //background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
      z-index: 20;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-top: 10px;

      .card-status-type, .card-status-title {
        margin-right: 2rem;
        margin-left: 10px;
        z-index: 99999;
      }

      .card-status-title {
        font-size: 20px;
        margin-bottom: 5px;
        font-weight: bolder;
      }

      .card-status-type {
        font-size: 14px;
      }

      svg {
        z-index: -1;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: .8;

        path {
          fill: #222222;
        }
      }
    }
  }
}
