.product-card {
  transition: .2s all ease-in-out;
  background: #292929;
  height: 270px;
  margin: 10px;

  &:hover {
    background: #353739;
  }

  @include breakpoint(medium) {
    max-width: 400px;
  }

  border-radius: 5px;

  display: flex;
  flex-direction: column;
  border: 2px solid rgba(#494949, .5);

  .product-card-thumbnail {
    height: 50%;
    background: #222222;
    display: flex;
    .product-card-thumbnail-inner {
      margin: auto;
      width: 80px;
      height: auto;
    }
  }

  .product-card-section {
    height: 50%;
    color: #F0F0F0;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    .product-card-title {
      font-family: 'LatoLight', san-serif, serif;
      font-size: 16px;
    }

    .product-card-price {
      font-family: 'LatoLight', san-serif, serif;
      font-weight: bolder;
      font-size: 16px;
      opacity: .5;
    }
  }
}

.product-shop-container {
  transition: .2s all ease-in-out;
  @include breakpoint(xxlarge down) {
    margin: 2rem 0;
  }
  @include breakpoint(xlarge down) {
    margin: 2rem 0;
  }
  @include breakpoint(large down) {
    margin: 1.25rem 0;
  }
  @include breakpoint(medium down) {
    margin: 1.3rem 0;
  }
}
/*

.card {
  border: 0;
  width: 256px;
  height: 300px;
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .card-image {
      width: 100%;
      background: black;
      margin-bottom: auto;

      .image-card {
        width: 60px;
        height: auto;
      }
    }

    .card-section {
      width: 100%;
      background: #211f1f;
      text-align: center;
      color: #F0F0F0;
      font-family: 'LatoLight', san-serif, serif;

      .card-title {
        margin: 0 auto;

        font-size: 20px;
        width: 70%;
      }

      .card-subtitle {
        margin-top: 10px;
        font-size: 20px;
        opacity: .6;
      }
    }
  }

}

.product-card {
  width: 250px;
  background: black;
  margin-bottom: 1.5rem;
}

.product-card-thumbnail {
  display: block;
  position: relative;
}

.product-card-title {
  font-family: 'Open sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.45rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.product-card-desc {
  color: $dark-gray;
  display: block;
  font-family: 'Open sans', sans-serif;
  font-size: 0.85rem;
}

.product-card-price {
  color: darken($dark-gray,30%);
  display: inline-block;
  font-size: 0.85rem;
  font-weight: 600;
  margin-top: 0.8rem;
}

.product-card-sale {
  color: $medium-gray;
  display: inline-block;
  font-size: 0.85rem;
  margin-left: 0.3rem;
  text-decoration: line-through;
}

.product-card-colors {
  display: block;
  margin-top: 0.8rem;
}

.product-card-color-option {
  display: inline-block;
  height: 25px;
  width: 25px;
}

*/
