.dropdown {
  position: relative;
  cursor: pointer;

  &:after {
    top: 4px;
    right: -15px;
    position: absolute;
    width: 8px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    content: '';
  }
}

.dropdown-footer {
  margin-right: 99px;
  display: inline-block;
}

.footer-dropdown-menu {
  display: inline-block;
  margin-top: 0;
  bottom: 30px;
  right: 0;
  text-align: left;
}

.dropdown-menu {
  display: none;
  position: absolute;
  margin-top: 7px;
  background-color: #353739;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999999999999;
  letter-spacing: 0;
  text-transform: none;

  @include breakpoint(small down) {
    bottom: 0;
  }

  a {
    position: relative;
    color: #F0F0F0;
    padding: 10px 8px;
    text-decoration: none;
    display: inline-block;
    width: 100%;

    @include breakpoint(small down) {
      padding: 10px 8px;
      font-size: 16px;
    }

    &:hover {
      background-color: #494949;
    }
  }
}

.dropdown-menu-show {
  display: block;
}

/*
.dropdown:hover .dropdown-menu {
  display: block;
}
*/
