.site-footer {
  .footer-inner {
    background: #222222;

    .footer-widgets {
      padding: 10px 0;

      .footer-widgets-menu  {

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        i {
          transition: all .3s;
          margin: 10px;
          width: 48px;
          height: 48px;
          color: #F0F0F0;
          font-size: 24px;
          border: 1px solid #F0F0F0;
          border-radius: 50%;
          text-align: center;
          line-height: 48px;
        }

        .discord-icon {
          &:hover {
            transform: rotateZ(360deg);
            color: lighten(#7289DA, 5%);
            border: 1px solid lighten(#7289DA, 5%);
          }
        }

        .vk-icon {
          &:hover {
            transform: rotateZ(360deg);
            color: lighten(#4376A6, 5%);
            border: 1px solid lighten(#4376A6, 5%);
          }
        }
      }
    }

    .footer-bottom {
      background: #191919;
      padding: 10px 0;

      .footer-main-inner {
        @include breakpoint(small down) {
          flex-direction: column-reverse;
        }
      }

      color: #F0F0F0;
      font-family: 'LatoLight', san-serif, serif;
      font-size: 14px;

      .copyright {
        @include breakpoint(small down) {
          padding: 0 10px;
          text-align: center;
        }
      }

      .footer-bottom-inner {
        display: flex;
        text-align: right;

        .footer-bottom-menu {
          margin-left: auto;

          @include breakpoint(small down) {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 20px 0;
          }

          .footer-link {
            text-transform: uppercase;
            color: #F0F0F0;
            margin: 0 10px;

            @include breakpoint(small down) {
              padding: 10px 10px;
            }
          }
        }
      }
    }
  }
}
