.nav-header-show {
  transform: translateY(0) !important;
}

.header-container {
  z-index: 1000;
  position: absolute;

  width: 100%;
  height: 100px;

  .header-content {
    height: 100%;

    .nav-header {
      display: flex;
      height: 100%;
      //background: red;
      justify-content: center;

      @include breakpoint(small down) {
        flex-direction: column;

        align-items: center;
        justify-content: center;
        position: fixed;

        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;
        overflow: hidden;
        color: #F0F0F0;

        transform: translateY(-100%);
        transition: transform 0.2s ease;

        background: rgba(#292929, .9);
        //backdrop-filter: blur(1px);
      }

      .left-side, .right-side {
        // height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        width: 100%;

        @include breakpoint(small down) {
          flex-direction: column;
          height: auto;
        }

        .header-link {
          position: relative;
          color: #F0F0F0;
          z-index: 3000;
          font-size: 16px;
          font-family: 'LatoLight', san-serif, serif;
          letter-spacing: 1.2px;

          &:before {
            border-radius: 2px;
            transition: all .15s;
            content: '';
            position: absolute;
            width: 0;
            height: 3px;
            bottom: -3px;
            left: -10px;
            background: #F0F0F0;
          }

          &:hover {
            color: #d6d6d6;

            &:before {
              width: calc(100% + 20px);
            }
          }

          @include breakpoint(small down) {
            padding: 15px 10px;
            font-size: 20px;
          }
        }
      }

      .left-side {
        text-align: right;
        justify-content: flex-end;

        @include breakpoint(medium up) {
          padding-right: 50px;
        }

        @include breakpoint(xlarge up, large up) {
          padding-right: 100px;
        }

        .header-link {
          @include breakpoint(medium up) {
            margin-right: 50px;
          }

          @include breakpoint(xlarge up, large up) {
            margin-right: 100px;
          }
        }
        //background: blue;
      }

      .right-side {
        text-align: left;
        justify-content: flex-start;

        @include breakpoint(medium up) {
          padding-left: 70px;
        }

        @include breakpoint(xlarge up, large up) {
          padding-left: 100px;
        }

        .header-link {
          @include breakpoint(medium up) {
            margin-left: 70px;
          }

          @include breakpoint(xlarge up, large up) {
            margin-left: 100px;
          }
        }
        //background: red;
      }
    }
  }
}

.center-logo {
  position: fixed;

  width: auto;
  display: block;

  @include breakpoint(small up) {
    left: calc(50% - 45px);
  }

  @include breakpoint(small down) {
    left: calc(50% - 35px);
  }

  .home-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    pointer-events: none;
    width: 90px;
    height: 90px;

    @include breakpoint(small down) {
      width: 70px;
      height: 70px;
    }

    &:before {
      position: absolute;

      bottom: 0;
      content: '';
      display: block;
      width: 180px;
      height: 180px;
      background-color: #353739;
      transform-origin: center;
      transform: translateY(-13px) rotate(-45deg);
      pointer-events: all;
      border-radius: 7px;
      box-shadow: 0 0 10px 3px rgba(#000000, .5);
    }

    img {
      transition: opacity .3s linear;
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: -10px;
      left: 0;
      z-index: 99999;
    }
  }
}
