@import '_foundation.scss';
@import '_fonts.scss';
@import '_burger.scss';
@import '_header.scss';
@import '_banner.scss';
@import '_footer.scss';
@import '_dropdown.scss';
@import '_card.scss';
@import '_card-status.scss';
@import '_accordion.scss';

html, body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #161616;
}

.video-gift-car, .video-installation-menu {
  position: relative;
  display: block;
  width: 888px;
  height: 500px;
  margin: 0 auto;

  @include breakpoint(medium down) {
    width: 666px;
    height: 380px;
  }

  @include breakpoint(780px down) {
    width: 100%;
    height: 380px;
  }

  @include breakpoint(small down) {
    height: 100%;
  }
}

.text-information {
  color: #F0F0F0;
  font-size: 18px;
  font-family: 'LatoLight', san-serif, serif;
}

.menu-show-container, .shop-menu-container {

  img {
    width: 90%;
    height: auto;
  }

  margin: 0 auto;

  max-width: 506px;
  height: 650px;

  @include breakpoint(medium down) {
    height: auto;
  }

  .menu-show-content, .shop-menu-content {
    position: relative;
    display: flex;
    justify-content: center;

    .shop-image-version {
      transition: .5s all ease-in-out;

      @include breakpoint(large down) {
        position: relative;
        top: 0;
      }

      z-index: 60;
      top: -100px;
      position: absolute;
      display: flex;
    }

    .image-container {
      z-index: -1;
      //filter: drop-shadow(25px 25px 25px #ff0000);
      filter: drop-shadow(25px 25px 25px rgba(#000000, .5));

      @include breakpoint(large up) {
        z-index: 60;
        top: -100px;
        position: absolute;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.tblank, .tblank-footer, .tblank-shop, .tblank-icon {
  position: relative;
  margin-right: 12px;
  &:after {
    position: absolute;
    top: 0;
    right: -14px;
    width: 12px;
    height: 12px;
    background-image: url('../img/external_link.svg');
    background-repeat: no-repeat;
    content: '';
  }
}

.tblank-m-1 {
  &:after {
    right: -1rem;
  }
}

.tblank-icon {
  &:after {
    top: 0;
    right: 0;
  }
}

.tblank-shop {
  &:after {
    top: 2px;
    right: 2px;
  }
}

.tblank-footer {
  &:after {
    top: -5px;
  }
}

.tblank-mr-2 {
  &:after {
    padding-right: 2rem;
  }
}

.px-download-grid {
  .px-download-preview {
    filter: drop-shadow(2px 2px 8px rgba(#000000, .5));
  }
  .px-download-information-container {
    height: 100%;
    .px-download-information-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .px-download-information-inner-contains {
        margin-bottom: auto;
        margin-top: auto;

        .px-download-information-inner {
          ul {
            list-style: none;
            padding: 0;
            li {
              position: relative;
              //padding-left: 1.3em;
              font-family: "LatoLight", san-serif, serif;
              color: #F0F0F0;
              font-size: 32px;
              text-decoration: none;

              &:before {
                position: absolute;
                content: ''; /* FontAwesome Unicode */
                display: inline-block;
                top: 7px;
                margin-left: -1.3em; /* same as padding-left set on li */
                width: 32px;
                height: 32px;
                background-image: url('../../static/img/px_white_logo.png');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
              }
            }
          }
        }
      }

      .px-launcher-download {
        transition: all .25s ease-in-out;
        text-align: center;
        background:  #292929;
        padding: 24px;
        border-radius: 5px;
        color: #F0F0F0;
        text-transform: uppercase;
        font-family: "LatoLight", san-serif, serif;
        font-weight: bold;
        min-width: 64px;

        &:hover {
          color: #494949;
          background: #222222;
        }
      }
    }
  }
}

#back-to-top {
  transition: all .3s ease-out;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;

  z-index: 9999;
  position: fixed;
  width: 40px;
  height: 40px;

  right: 20px;
  bottom: 20px;

  border-radius: 50%;
  background: #F0F0F0;
  cursor: pointer;
  font-size: 20px;
  color: #191919;

  &:focus {
    outline: 0;
  }

  &.show {
    visibility: visible;
    opacity: 1;

    &:active, &:focus {
      opacity: 1;
    }

    &:hover {
      opacity: .5;
    }

    &:focus {
      outline: 0;
      opacity: 1;
    }
  }
}

.justify-content-center {
  justify-content: center;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}



